<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/datatables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/siteschema.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrapValidator.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/js/jquery-1.11.0.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/css/Teachings/Teaching1Comm.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/Teachings/SubjectFiller.css")" rel="Stylesheet" type="text/css" />
    @RenderSection("Styles", false)

</head>
<body>
    <div class="navbar navbar-default  navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">             
                <a class="navbar-brand" href="/Home/Index">FATS</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("案例设置", "Index", "Teaching1Setting", new { area = "Settings" }, new { }) </li>
                    <li>@Html.ActionLink("用户管理", "Index", "UserMng", new { area = "Settings" }, new { }) </li>
                    <li>@Html.ActionLink("银行会计教学1", "Index", "TeachingInit", new { area = "Teachings" }, new { })</li>                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="maincont">        
        @RenderBody()
    </div>

    <footer>
        <span class="right">@@cheeserush</span>
        FATS 1.3   2007-2014
    </footer>

    <script src="@Url.Content("~/js/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/moment-with-langs.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/dataTables.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/js/jquery.confirm.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrapValidator.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/SiteShared.js")" type="text/javascript"></script>    

    @RenderSection("Scripts", false)

    <script type="text/javascript" src="@Url.Content("~/js/Teachings/SubjectFiller.js")"></script>

</body>
</html>
