@{
    ViewBag.Title = "编辑案例";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FATS.Models.SubjectItem

@section Styles {
    <link href="@Url.Content("~/Content/Settings/EditSubjectItem.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Settings/EditSubjectItem.js")" ></script>    
}   

<input type="hidden" id="TchRoutineID" value="@ViewBag.TchRoutineID" />
<input type="hidden" id="TchNodeID" value="@ViewBag.TchNodeID" />

<div class='pagetitle'>@ViewBag.NodeTitle</div>

<div id="subjectcontainer">
    <table id="subjectlist"></table>
</div>

<div id="pop_EditSubject">
    <input type="hidden" name="Row_ID" id="Row_ID" value= "0" />
    <table class="viewarea">        
        <tr>
            <td style="width: 100px;">科目名称:</td>
            <td style="width: 300px;">
                @Html.TextBoxFor(subject => subject.SubjectName, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
        </tr>
        <tr>
            <td>科目类型:</td>
            <td>
                <select name="SubjectType" id="SubjectType">
                    <option value="资产" selected="selected">资产</option>
                    <option value="负债">负债</option>
                    <option value="所有者权益">所有者权益</option>
                    <option value="收入">收入</option>
                    <option value="成本或费用">成本或费用</option>
                    <option value="资产负债共同类">资产负债共同类</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>增减方向:</td>
            <td>
                <select name="ChangeOrient" id="ChangeOrient">
                    <option value="增加" selected="selected">增加</option>
                    <option value="减少">减少</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>科目方向:</td>
            <td>
                <select name="SubjectOrient" id="SubjectOrient">
                    <option value="借" selected="selected">借</option>
                    <option value="贷">贷</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>下级科目:</td>
            <td>
                @Html.TextBoxFor(subject => subject.SubSubject) (输入形式: XXXX-XXXX)
            </td>
        </tr>
        <tr>
            <td>金额:</td>
            <td>
                @Html.TextBoxFor(subject => subject.Amount, new Dictionary<string, object>() { { "maxlength", 12 }, { "required", "true" }, { "class", "easyui-numberbox" }, { "precision", 2 } })
            </td>
        </tr>
        <tr>
            <td>下一步:</td>
            <td>
                <select name="NextLedger" id="NextLedger">
                    <option value="客户分户账" selected="selected">客户分户账</option>
                    <option value="明细账">明细账</option>
                    <option value="现金收入日记账">现金收入日记账</option>
                    <option value="现金支出日记账">现金支出日记账</option>
                </select>
                 (下一步要登账的账簿类型)
            </td>
        </tr>
    </table>
    <div id="popbar" class="actbar">
        <a class="easyui-linkbutton l-btn" iconcls="icon-save" href="javascript:SaveSubject()">保存</a>
        <a class="easyui-linkbutton l-btn" iconcls="icon-back" href="javascript:CancelEdit()">返回</a>
    </div>
</div>

<div id="actbar" class="actbar">
        <a class="easyui-linkbutton l-btn" iconcls="icon-back" href="javascript:BackToRoutine()">返回</a>
</div>