@model  FATS.Models.TransferCheck
    @Html.HiddenFor(item => item.TchRoutineID)
    @Html.HiddenFor(item => item.Row_ID)
<table class="viewarea">
    <tr>
        <td style="width: 120px;">出票人全称</td>
        <td style="width: 200px;">
            @Html.TextBoxFor(info => info.RemitterName, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
        <td style="width: 120px;">出票人账号</td>
        <td style="width: 250px;">
            @Html.TextBoxFor(info => info.RemitterAcc, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
    </tr>
    <tr>
        <td>出票人银行</td>
        <td>
            @Html.TextBoxFor(info => info.RemitterBank, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>收款人全称</td>
        <td>
            @Html.TextBoxFor(info => info.PayeeName, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
        <td>收款人账号</td>
        <td>
            @Html.TextBoxFor(info => info.PayeeAcc, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
    </tr>
    <tr>
        <td>收款人银行</td>
        <td>
            @Html.TextBoxFor(info => info.PayeeBank, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>

    <tr>
        <td>金额</td>
        <td>
            @Html.TextBoxFor(info => info.MoneyAmount, new Dictionary<string, object>() { { "maxlength", 12 }, { "required", "true" }, { "class", "easyui-numberbox" }, { "precision", 2 } })
        </td>
        <td>支票号</td>
        <td>
            @Html.TextBoxFor(info => info.CheckNo, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
    </tr>
    <tr>
        <td>转账支票日期</td>
        <td>
            <input type="text" id="ChequeDate" name="ChequeDate" vt="date" value="@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(Model.ChequeDate)" />
        </td>
        <td>进账单日期</td>
        <td>
            <input type="text" id="IncomeBillDate" name="IncomeBillDate" vt="date" value="@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(Model.IncomeBillDate)" />
        </td>
    </tr>
    <tr>
        <td>用途</td>
        <td>
            @Html.TextBoxFor(info => info.Purpose, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-validatebox" } })
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>

    </tr>
</table>