@{
    ViewBag.Title = "选择案例";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model  IEnumerable<FATS.Models.TemplateRoutine>

@section Styles {
    <link href="@Url.Content("~/Content/Settings/SelectT1Case.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Teachings/SelectT1Case.js")" ></script>
}

<div class='pagetitle'>@ViewBag.Title</div>

<fieldset class="step">
    <legend>开始学习新案例</legend>
    请选择要进入的学习流程:
    <select id="selTmpRoutines" class="commsel">        
        <option selected="selected" value="-1">(请选择)</option>
        @foreach (FATS.Models.TemplateRoutine routine in Model)
        {
            <option value="@routine.Row_ID">@routine.RoutineName</option>
        }
    </select>
    <br />
    <br />
    <div class="step">
        <div id="casebox">
            <table id="caselist"></table>
        </div>
    </div>
</fieldset>

<fieldset class="step">
    <legend>继续今天做过的案例</legend>
    <div id="studiedbox">
        <table id="studiedlist"></table>
    </div>
</fieldset>



