@{
    ViewBag.Title = "委托收款登记簿";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FATS.Models.EntrustCorpPayment

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/Teachings/OuterSubject.js")"></script>
}
<div id="maincontainer" class="fullcontainer">
    <div class="page-header page-header-fix">
        <h3>@ViewBag.NodeName<small>@ViewBag.RoutineName</small></h3>
    </div>
    @{  Html.RenderPartial("CaseHeaderDesc", @ViewData["CaseDesc"]); }
    @Html.HiddenFor(info => info.TchRoutineID)
    <input type="hidden" id="TchNodeID" value="@ViewBag.TchNodeID" />

    @Html.Partial("CollectAccept_OuterSubject", new List<FATS.Areas.Teachings.Models.V_CollectAccept_OuterSubject>() { FATS.BusinessObject.Converters.EntrustCorpPaymentConverter.N2_OuterSubject(Model) })
</div>

@{  Html.RenderPartial("Teaching1Navigator");}