@{
    ViewBag.Title = "CollectAccept_2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FATS.Models.EntrustCorpPayment
@section Styles {
    <link href="@Url.Content("~/css/Teachings/Teaching1Comm.css")" rel="Stylesheet" type="text/css" />
}

<div id="maincontainer">
    <div class="page-header page-header-fix">
        <h3>@ViewBag.NodeName<small>@ViewBag.RoutineName</small></h3>
    </div>
    @{  Html.RenderPartial("CaseHeaderDesc", @ViewData["CaseDesc"]); }
    @Html.HiddenFor(info => info.TchRoutineID)
    <input type="hidden" id="TchNodeID" value="@ViewBag.TchNodeID" />

    @{ Html.RenderPartial("CollectVoucher", FATS.BusinessObject.Converters.EntrustCorpPaymentConverter.N2_CollectVoucher(Model)); }
    
    @Html.Partial("NeedNoAction")
</div>

@{  Html.RenderPartial("Teaching1Navigator");}

