@{
    ViewBag.Title = "选择案例";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model  IEnumerable<FATS.Models.TemplateRoutine>

@section Styles {
    <link href="@Url.Content("~/Content/Settings/T2RoutineList.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Settings/T2RoutineList.js")" ></script>    
}   
         
<div class='pagetitle'>教学流程与案例设置</div>

<div class="step">
    请选择要设置的流程: 
    <select id="selTmpRoutines" class="widesel">
        <option selected="selected" value="-1">(请选择)</option>
        @foreach (FATS.Models.TemplateRoutine routine in Model) {
            <option value="@routine.Row_ID">@routine.RoutineName</option>
        }            
    </select>
</div>

<div class="step" data_sidx='2' >
    <fieldset class="sectiontitle">
        如要增加新案例，请在此输入案例名称: @Html.TextBox("CaseName")  
         <a href="javascript:AppendCase()" class="easyui-linkbutton" iconCls="icon-add" data_action='NewCase'>添加</a>
    </fieldset>
    <div id="casebox">
        <table id="caselist"></table>
    </div>
</div>
