@{
    ViewBag.Title = "编辑案例";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FATS.Models.TeachingRoutine

@section Styles {
    <link href="@Url.Content("~/Content/Settings/T2RoutineDetail.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Settings/T2RoutineDetail.js")" ></script>    
}   


<div class='pagetitle'>编辑案例</div>

<table class="viewarea">
    <tr>
        <td>案例名称</td>
        <td style="width: 200px">
            @Html.TextBoxFor(model => model.CaseName, new Dictionary<string, object>(){{ "maxlength", 20 }, { "required", true },{ "class", "easyui-validatebox"} })
        </td>
        <td>当前状态</td>
        <td  style="width: 200px">
            <input type="checkbox" id="CurrStatus" name="CurrStatus" @( (Model.CurrStatus == 1) ? "checked='checked'" : "") /><label for="CurrStatus">是否可用</label>
        </td>
    </tr>
    <tr>
        <td>案例数据</td>
        <td colspan="3">
             <a href="javascript:EditRoutineData()" class="easyui-linkbutton" iconCls="icon-save" data-act='EditRoutine'>编辑</a>
        </td>
    </tr>
    <tr>
        <td>案例说明</td>
        <td colspan="3">
            @Html.TextAreaFor(model => model.CaseText, new Dictionary<string, object>() { { "cols", "50"  } })
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div id="actbar">
            <a href="javascript:UpdateCase()" class="easyui-linkbutton" iconCls="icon-save" data-act='SaveCase'>保存</a>
            </div>
        </td>
    </tr>
</table>
