@{
    ViewBag.Title = "现金日记账";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  List<FATS.Models.CashJournal>
@using FATS.DataDefine;

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/js/Teachings/LedgerShared.js")" ></script>   
}   

@Html.Hidden("NextController", ViewContext.Controller.ValueProvider.GetValue("controller").RawValue)
<input type="hidden" value="@Model[0].TchNodeID" id="TchNodeID" />
<input type="hidden" value="@Model[0].TchRoutineID" id="TchRoutineID" />
<div id="fillerstepper">
    <div class="panel panel-info">
        <div class="panel-heading">待完成的科目</div>
        <div class="list-group">
            @foreach (FATS.Models.CashJournal cjInfo in Model)
            {
                <a href="#" data-status="0" class="list-group-item" data-subject="现金日记账条目">
                    <span class="glyphicon glyphicon-question-sign"></span> 
                    现金日记账条目
                </a>

            }
        </div>
    </div>
</div>

<div id="maincontainer">
    <div class="page-header page-header-fix">
        <h3>@ViewBag.NodeName<small>@ViewBag.RoutineName</small></h3>
    </div>
    @{  Html.RenderPartial("CaseHeaderDesc", @ViewData["CaseDesc"]); }
    <div id="subjectcontainer" class="tabcontent">
        @foreach (FATS.Models.CashJournal cjInfo in Model)
        {
            <div data-subject="现金日记账条目">                
                <table class="table table-bordered table-condensed" cellspacing="8">
                    <thead>
                        <tr class="titlecol">
                            <td colspan="5"><div class="billtitle"><span class="bankname">@cjInfo.BankName</span>@("现金" + cjInfo.CashOrient + "日记簿")</div></td>
                        </tr>
                        <tr class="titlecol">
                            <td class="date" style="width: 100px;">日期</td>
                            <td class="clientacc"style="width: 150px;">客户账号</td>
                            <td class="subject">对方科目</td>
                            <td class="amount">金额</td>\
                            <td class="voucherno">凭证号</td>
                        </tr>                     
                    </thead>
                    <tbody>
                        <tr>
                            <td class="date">
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="发生日期" data-correct="@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(cjInfo.TimeMark)" data-operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_DetailedLedger, "日期错误")" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                            <td class="clientacc">
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="客户账号" data-correct="@cjInfo.ClientAcc" data-operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_DetailedLedger, "发生项摘要错误")" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                            <td class="subject">
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="对方科目" data-correct="@cjInfo.CounterSubject" data-operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_DetailedLedger, "日期错误")" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                            <td class="amount">
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="贷方发生" data-correct="@CommFunctions.FormatMoneyToString(cjInfo.MoneyAmount)" data-operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_DetailedLedger, "贷方发生科目数值错误")" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>                            
                            <td class="voucherno">
                                <div class="form-group checkarea">
                                    <label class="sr-only"></label>
                                    <input type="text" maxlength="20" placeholder="凭证号" data-correct="@cjInfo.VoucherNo" data-operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_DetailedLedger, "发生项摘要错误")" class="form-control" />
                                    <i class="form-control-feedback" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
        @{  Html.RenderPartial("Teaching1Responsor"); }
    </div>
</div>
    @{  Html.RenderPartial("Teaching1Navigator"); }
