@{
    ViewBag.Title = "明细账";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  List<FATS.Models.DetailedLedger>
@using FATS.DataDefine;

@section Styles {
    <link href="@Url.Content("~/Content/Teaching1/Teaching1Common.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Teaching1/Comm_DL.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Teaching1/CommonNode/Comm_DL.js")" ></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/Teaching1/Teaching1Common.js")" ></script>
}   

<div class='pagetitle'>@ViewBag.Title</div>
@{  Html.RenderPartial("CaseHeaderDesc", @ViewData["CaseDesc"]); }
@Html.Hidden("NextController", ViewContext.Controller.ValueProvider.GetValue("controller").RawValue)
<input type="hidden" value="@Model[0].CaseNodeID" id="CaseNodeID" />
<input type="hidden" value="@Model[0].CaseRoutineID" id="CaseRoutineID" />
<div id="tabcontainer">
    <ul class="multitab">
        @foreach (FATS.Models.DetailedLedger glInfo in Model)
        {
            <li data_status="0" data_subject="@(glInfo.SubjectName)">
                @glInfo.SubjectName <span>&nbsp;</span>
            </li>
        }
        <div class="clean"></div>
    </ul>
</div>

<div id="subjectcontainer" class="tabcontent">
    @foreach (FATS.Models.DetailedLedger glInfo in Model)
    {
        <div data_subject="@(glInfo.SubjectName)">
            <div class="summary">
                
            </div>
            <table cellspacing="8" class="viewarea">
                <thead>
                    <tr class="titlecol">
                        <td colspan="8"><span class="accounttitle">XX银行明细账</span></td>
                    </tr>
                    <tr class="titlecol">
                        <td class="date" rowspan="2" style="width: 100px;">日期</td>
                        <td class="digest" rowspan="2" style="width: 150px;">摘要</td>
                        <td class="amount" colspan="2">发生额</td>
                        <td class="balance" colspan="2">余额</td>
                    </tr>
                    <tr class="titlecol">
                        <td class="debit" style="width: 80px;">借方</td>
                        <td class="credit" style="width: 80px;">贷方</td>
                        <td class="balance" style="width: 80px;">方向</td>
                        <td class="value" style="width: 120px;">金额</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="date">@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(glInfo.TimeMark)</td>
                        <td class="digest">     
                            @glInfo.BalanceAbstract
                        </td>
                        <td class="debit">&nbsp;</td>
                        <td class="credit">&nbsp;</td>
                        <td class="balance">@((glInfo.BanalceOrient == 1) ? "借": "贷")</td>
                        <td class="value">@( FATS.DataDefine.CommFunctions.FormatMoneyToString(glInfo.BalanceSum) )</td>
                    </tr>
                    <tr>
                        <td class="date">@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(glInfo.TimeMark)</td>
                        <td class="digest">
                            <input class="widetext" type="text" maxlength="20" data_correct="@glInfo.Abstract" data_operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "发生项摘要错误")" data_ophint="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "发生项摘要提示")" /> 
                        </td>
                        <td class="debit">
                             <input class="narrowtext" type="text" maxlength="20" data_correct="@CommFunctions.FormatMoneyToString(glInfo.DebitSum)" data_operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "借方发生科目数值错误")" data_ophint="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "借方发生科目数值提示")" /> 
                        </td>
                        <td class="credit">
                             <input class="narrowtext" type="text" maxlength="20" data_correct="@CommFunctions.FormatMoneyToString(glInfo.CreditSum)" data_operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "贷方发生科目数值错误")" data_ophint="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "贷方发生科目数值提示")" /> 
                        </td>
                        <td class="balance">@((glInfo.BanalceOrient == 1) ? "借": "贷")</td>
                        <td class="value">
                            <input class="narrowtext" type="text" maxlength="20" data_correct="@CommFunctions.FormatMoneyToString(glInfo.FinalSum)" data_operror="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "最终余额错误")" data_ophint="@HttpContext.GetGlobalResourceObject(ResourceFileDefine.ResourceFile_Comm_DetailedLedger, "最终余额提示")" /> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    } 
    @{  Html.RenderPartial("Teaching1Responsor"); }
</div>

@{  Html.RenderPartial("Teaching1Navigator"); }
