@{
    ViewBag.Title = "案例概览";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FATS.Models;

@model  FATS.Models.TeachingRoutine

@section Styles {
    <link href="@Url.Content("~/css/Teachings/Teaching1Comm.css")" rel="Stylesheet" type="text/css" />
}
<div class="page-header page-header-fix">
    <h3>案例流程概览<small>@Model.CaseName</small></h3>
</div>

<div id="routineoverview">
    <input id="CurrGroup" value="@ViewBag.CurrGroup" type="hidden" />
    <input type="hidden" id="TchRoutineID" value="@Model.Row_ID" />
    <input type="hidden" id="TchNodeID" value="@ViewBag.TchNodeID" />
    @{ int currGroup = Convert.ToInt32(ViewBag.CurrGroup); }
    <div class="mainprocess">
        @{ int lastGroup = -1; }
        @foreach (TeachingNode tchNode in Model.NodeList.Values)
        {

            if (lastGroup != tchNode.GroupIdx)
            {
                if (lastGroup != -1)
                {
            <div class="downconnector"></div>
                }
            <div class="group" data-groupidx="@tchNode.RelTmpNode.GroupIdx" data-node-id="@tchNode.Row_ID">
                <div class="groupidx">步骤 @tchNode.GroupIdx</div>
                <div class="grouptitle">@tchNode.RelTmpNode.NodeName</div>
            </div>    
            }
            lastGroup = tchNode.RelTmpNode.GroupIdx;
        }
    </div>
    <div class="arrowcontainer">
    </div>


    <div class="currphase panel panel-success">
        <div class="panel-heading">步骤介绍</div>

        <p>
            @ViewBag.RoutineIntro
        </p>
        <div class="panel-body">

            <div class="actionbar">
                <button type="button" data-act="go" class="btn btn-primary btn-lg">开 始 学 习</button>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@{  Html.RenderPartial("Teaching1Navigator"); }

@section Scripts {
    <script>
        $(document).ready(function () {

        })
    </script>
}   