@model FATS.Areas.Teachings.Models.V_SpecialTransferVoucher
 
<table class="table table-bordered table-condensed" cellspacing="8" style="margin: 20px 0px;">
    <tr>
        <td colspan="6">
            <div class="billtitle"><span class="bankname">@Model.BankName</span>特种转账 @Model.TransferOrient 凭证</div>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            @{ FATS.DataDefine.CommFunctions.FormatDateTimeToNormal(Model.TimeMark); }
        </td>
    </tr>
    <tr>
        <td rowspan="3" class="titlecol">出票人</td>
        <td class="titlecol">全称</td>
        <td>@Model.PayeeName</td>
        <td rowspan="3" class="titlecol">收款人</td>
        <td class="titlecol">全称</td>
        <td>@Model.RemitterName</td>
    </tr>
    <tr>
        <td class="titlecol">账号</td>
        <td>@Model.PayeeAcc</td>
        <td class="titlecol">账号</td>
        <td>@Model.RemitterAcc</td>
    </tr>
    <tr>
        <td class="titlecol">开户银行</td>
        <td>@Model.PayeeBank</td>
        <td class="titlecol">开户银行</td>
        <td>@Model.RemitterBank</td>
    </tr>
    <tr>
        <td colspan="6" class="titlecol">
            金额: @FATS.DataDefine.CommFunctions.FormatMoneyToString(Model.MoneyAmount)
        </td>
    </tr>
    <tr>
        <td colspan="3">
            原凭证名称: @Model.OrgVoucherName
        </td>
        <td colspan="3">
            原凭证号码: @Model.OrgVoucherNo
        </td>       
    </tr>
    <tr>
        <td colspan="3">
            原凭证金额: @FATS.DataDefine.CommFunctions.FormatMoneyToString(Model.OrgVoucherAmount)
        </td>
        <td colspan="3">
            赔偿金: 0.00
        </td>
    </tr>
    <tr>      
        <td colspan="6">
            转账原因: @Model.TransferReason
        </td>
    </tr>
</table>