@model FATS.Areas.Teachings.Models.V_TradeAcceptance
 
<table class="table table-bordered table-condensed" cellspacing="8" style="margin: 20px 0px;">
    <tr>
        <td colspan="6">
            <div class="billtitle"><span class="bankname">@Model.PayeeBank</span>银行承兑汇票</div>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            @{ FATS.DataDefine.CommFunctions.FormatDateTimeToNormal(Model.IncomeBillDate); }
        </td>
    </tr>
    <tr>
        <td rowspan="3" class="titlecol">出票人</td>
        <td class="titlecol">全称</td>
        <td>@Model.PayeeName</td>
        <td rowspan="3" class="titlecol">收款人</td>
        <td class="titlecol">全称</td>
        <td>@Model.RemitterName</td>
    </tr>
    <tr>
        <td class="titlecol">账号</td>
        <td>@Model.PayeeAcc</td>
        <td class="titlecol">账号</td>
        <td>@Model.RemitterAcc</td>
    </tr>
    <tr>
        <td class="titlecol">开户银行</td>
        <td>@Model.PayeeBank</td>
        <td class="titlecol">开户银行</td>
        <td>@Model.RemitterBank</td>
    </tr>
    <tr>
        <td class="titlecol">
            金额
        </td>
        <td colspan="5">
            @FATS.DataDefine.CommFunctions.FormatMoneyToString(Model.MoneyAmount)
        </td>
    </tr>
    <tr>
        <td class="titlecol">汇票到期日</td>
        <td colspan="2">@{ Html.RenderAction("CapitalDate", "UICommon", new { area = string.Empty, date = Model.DrawBillDate }); }</td>
        <td rowspan="2">承兑人</td>        
        <td colspan="2">行号: 00001</td>
    </tr>
    <tr>
        <td class="titlecol">
            承兑协议编号
        </td>
        <td colspan="2">1000003</td>
        <td colspan="2">
            地址: 
        </td>
    </tr>
</table>