@{
    ViewBag.Title = "分户账数据设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FATS.Models.CustomerLedger

@section Styles {
    <link href="@Url.Content("~/Content/Settings/SettingCommon.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Settings/CommonNode/CustomerLedger.js")" ></script>
}   

<div class='pagetitle'>@ViewBag.Title</div>
<div id="editcontainer">


@Html.HiddenFor(info => info.TchNodeID)
@Html.HiddenFor(info => info.TchRoutineID)
<fieldset class="sectiontitle">
    如要增加新的科目余额，请点击:
        <a href="javascript:AppendSubject()" class="easyui-linkbutton" iconCls="icon-add" data_action='NewCase'>添加</a>
</fieldset>

<div id="subjectsetting">
    <table id="subjectlist"></table>
</div>
<div id="actbar" class="actbar">
        <a class="easyui-linkbutton l-btn" iconcls="icon-back" href="javascript:BackToRoutine()">返回</a>
</div>
<div id="pop_MutliLineSet">

    <input type="hidden" name="Row_ID"  id="Row_ID"  value= "0" />
    <table class="viewarea">
        <tr>
            <td style="width: 100px;">客户名称</td>
            <td style="width: 150px;">
                 @Html.TextBoxFor(info => info.CustomerName, new Dictionary<string, object>() { { "maxlength", 50 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
            <td style="width: 100px;">客户账户</td>
            <td style="width: 150px;">
                 @Html.TextBoxFor(info => info.CustomerAccNo, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
        </tr>
        <tr>
            <td>科目名称</td>
            <td>
                @Html.TextBoxFor(info => info.SubjectName, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
            <td>余额日期</td>
            <td class="datacol">
                <input type="text" id="BalanceTime" name="BalanceTime" value="@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(Model.BalanceTime)" vt="date" />                
            </td>
        </tr>
        <tr>
            <td>余额摘要</td>
            <td>
                @Html.TextBoxFor(info => info.BalanceAbstract, new Dictionary<string, object>() { { "maxlength", 20 } })
            </td>
            <td>余额金额</td>
            <td>
                @Html.TextBoxFor(info => info.BalanceSum, new Dictionary<string, object>() { { "maxlength", 12 }, { "required", "true" }, { "class", "easyui-numberbox" }, { "precision", 2 } })
            </td>

        </tr>
        <tr>
            <td>对方科目</td>
            <td>
                @Html.TextBoxFor(info => info.TargetSubject, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
            <td>发生日期</td>
            <td class="datacol">
                <input type="text" id="TimeMark" name="TimeMark" value="@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(Model.TimeMark)" vt="date" />
            </td>
        </tr>
        <tr>
            <td>凭证号码</td>
            <td>
                 @Html.TextBoxFor(info => info.VoucherNo, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
            <td>借或贷</td>
            <td>
                 @Html.TextBoxFor(info => info.DCChoice, new Dictionary<string, object>() { { "maxlength", 10 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
        </tr>
        <tr>
            <td>借方发生</td>
            <td>
                @Html.TextBoxFor(info => info.DebitSum, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-numberbox" } })
            </td>
            <td>贷方发生</td>
            <td>
                @Html.TextBoxFor(info => info.CreditSum, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-numberbox" } })
            </td>
        </tr>

        <tr>
            <td>发生项摘要</td>
            <td>
                @Html.TextBoxFor(info => info.Abstract, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
            <td>最终余额</td>
            <td>
                @Html.TextBoxFor(info => info.FinalSum, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-numberbox" } })
            </td>
        </tr>   
    </table>

    <div id="popbar">
        <a class="easyui-linkbutton l-btn" iconCls="icon-save" href="javascript:SaveData()">保存</a> 
        <a class="easyui-linkbutton l-btn" iconCls="icon-back" href="javascript:CancelEdit()">返回</a>
    </div>
</div>
</div>