@{
    ViewBag.Title = "明细账数据设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FATS.Models.DetailedLedger

@section Styles {
    <link href="@Url.Content("~/Content/Settings/SettingCommon.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Settings/CommonNode/DetailedLedger.js")" ></script>
}   

<div class='pagetitle'>@ViewBag.Title</div>
<div id="editcontainer">


@Html.HiddenFor(info => info.TchNodeID)
@Html.HiddenFor(info => info.TchRoutineID)
<fieldset class="sectiontitle">
    如要增加新的科目余额，请点击:
        <a href="javascript:AppendSubject()" class="easyui-linkbutton" iconCls="icon-add" data_action='NewCase'>添加</a>
</fieldset>

<div id="subjectsetting">
    <table id="subjectlist"></table>
</div>

    
    <div id="actbar">        
        <a class="easyui-linkbutton l-btn" iconCls="icon-back" href="javascript:BackToRoutine()">返回</a>
    </div>

<div id="pop_MutliLineSet">

    <input type="hidden" name="Row_ID" id="Row_ID" value= "0" />
    <table class="viewarea">
        <tr>
            <td style="width: 100px;">日期</td>
            <td style="width: 160px;">
                <input type="text" id="TimeMark" name="TimeMark" value="@FATS.DataDefine.CommFunctions.FormatDateTimeToCompact(Model.TimeMark)" vt="date" />
            </td>
            <td style="width: 100px;">科目名称</td>
            <td style="width: 160px;">
                @Html.TextBoxFor(info => info.SubjectName, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
        </tr>
        <tr>
            <td>余额摘要</td>
            <td>
                @Html.TextBoxFor(info => info.BalanceAbstract, new Dictionary<string, object>() { { "maxlength", 20 } })
            </td>
            <td>余额方向</td>
            <td>
                <select id="BalanceOrient" name="BalanceOrient" class="commsel">
                    <option value="1" @( (Model.BanalceOrient == 1)? "selected='selected'" : string.Empty) >借方</option>
                    <option value="-1" @( (Model.BanalceOrient == -1) ? "selected='selected'" : string.Empty) >贷方</option>
                </select>
            </td>

        </tr>
        <tr>
            <td>余额数额</td>
            <td>
                @Html.TextBoxFor(info => info.BalanceSum, new Dictionary<string, object>() { { "maxlength", 12 }, { "required", "true" }, { "class", "easyui-numberbox" }, { "precision", 2 } })
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>借方发生</td>
            <td>
                @Html.TextBoxFor(info => info.DebitSum, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-numberbox" }, { "precision", 2 } })
            </td>
            <td>贷方发生</td>
            <td>
                @Html.TextBoxFor(info => info.CreditSum, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-numberbox" }, { "precision", 2 } })
            </td>
        </tr>

        <tr>
            <td>发生项摘要</td>
            <td>
                @Html.TextBoxFor(info => info.Abstract, new Dictionary<string, object>() { { "maxlength", 30 }, { "required", "true" }, { "class", "easyui-validatebox" } })
            </td>
            <td>最终余额</td>
            <td>
                @Html.TextBoxFor(info => info.FinalSum, new Dictionary<string, object>() { { "maxlength", 20 }, { "required", "true" }, { "class", "easyui-numberbox" }, { "precision", 2 } })
            </td>
        </tr>   
    </table>

    <div id="popbar">
        <a class="easyui-linkbutton l-btn" iconCls="icon-save" href="javascript:SaveData()">保存</a> 
        <a class="easyui-linkbutton l-btn" iconCls="icon-back" href="javascript:CancelEdit()">返回</a>
    </div>
</div>
</div>