@{
    ViewBag.Title = "转账支票数据设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  FATS.Models.TransferCheck

@section Styles {
    <link href="@Url.Content("~/Content/Settings/SettingCommon.css")" rel="Stylesheet" type="text/css" />
}

@section Scripts {
     <script type="text/javascript" src="@Url.Content("~/Scripts/Settings/EditSubjectItem.js")" ></script>
}

<div class='pagetitle'>@ViewBag.Title</div>
<div id="editcontainer">
    @Html.Hidden("PostUrl", "/Settings/" + ViewContext.Controller.ValueProvider.GetValue("controller").RawValue + "/" + ViewContext.Controller.ValueProvider.GetValue("action").RawValue)
    @Html.HiddenFor(item => item.TchRoutineID)    
    @{ Html.RenderPartial("EditSubjectItem", new FATS.Models.SubjectItem()); }

</div>
