@model  FATS.Models.CollectAccept


<form id="frmCaseBasic" class="form-horizontal">
    @Html.HiddenFor(item => item.TchRoutineID)
    @Html.HiddenFor(item => item.Row_ID)
    <div class="form-group">
        <label for="RemitterName" class="col-xs-2 control-label">托收人全称</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="RemitterName" name="RemitterName" value="@Model.RemitterName" />
            <span class="help-block" id="h_RemitterName"></span>
        </div>
        <label for="RemitterAcc" class="col-xs-2 control-label">托收人账号</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="RemitterAcc" name="RemitterAcc" value="@Model.RemitterAcc" />
            <span class="help-block" id="h_RemitterAcc"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="RemitterBank" class="col-xs-2 control-label">托收人银行</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="RemitterBank" name="RemitterBank" value="@Model.RemitterBank" />
        </div>
    </div>
    <div class="form-group">
        <label for="PayeeName" class="col-xs-2 control-label">承付人全称</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="PayeeName" name="PayeeName" value="@Model.PayeeName" />
            <span class="help-block" id="h_PayeeName"></span>
        </div>
        <label for="PayeeAcc" class="col-xs-2 control-label">承付人账号</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="PayeeAcc" name="PayeeAcc" value="@Model.PayeeAcc" />
            <span class="help-block" id="h_PayeeAcc"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="PayeeBank" class="col-xs-2 control-label">承付人银行</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="PayeeBank" name="PayeeBank" value="@Model.PayeeBank" />
        </div>
    </div>
    <div class="form-group">
        <label for="MoneyAmount" class="col-xs-2 control-label">金额</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="MoneyAmount" name="MoneyAmount" value="@Model.MoneyAmount" />
            <span class="help-block" id="h_MoneyAmount"></span>
        </div>
        <label for="SettlementNo" class="col-xs-2 control-label">结算号</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="SettlementNo" name="SettlementNo" value="@Model.SettlementNo" />
        </div>
    </div>
    <div class="form-group">
        <label for="CollectDate" class="col-xs-2 control-label">托收日期</label>
        <div class="col-xs-3">
            <div class="input-group date" id="doCollectDate" data-date-format="YYYY-MM-DD">
                <input type="text" class="form-control" name="CollectDate" id="CollectDate" value="@Model.CollectDate.ToString("yyyy-MM-dd")" />
                <span class="input-group-addon">
                    <span class="glyphicon-calendar glyphicon"></span>
                </span>
            </div>
        </div>

    </div>
    <div class="form-group">

        <label for="AcceptDate" class="col-xs-2 control-label">承付日期</label>
        <div class="col-xs-3">
            <div class="input-group date" id="doAcceptDate" data-date-format="YYYY-MM-DD">
                <input type="text" class="form-control" name="AcceptDate" id="AcceptDate" value="@Model.AcceptDate.ToString("yyyy-MM-dd")" />
                <span class="input-group-addon">
                    <span class="glyphicon-calendar glyphicon"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="OuterSubject" class="col-xs-2 control-label">表外科目</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="OuterSubject" name="OuterSubject" value="@Model.OuterSubject" />
        </div>
        <label for="Purpose" class="col-xs-2 control-label">用途</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="Purpose" name="Purpose" value="@Model.Purpose" />
        </div>
    </div>
    <p class="actionbar">
        <button type="button" class="btn btn-primary" data-act="save">保 存</button>
    </p>
</form>

<script type="text/javascript" src="@Url.Content("~/js/Settings/CollectAccept.js")"></script>
