@model  FATS.Models.DepositWithdraw


<form id="frmCaseBasic" class="form-horizontal">
    @Html.HiddenFor(item => item.TchRoutineID)
    @Html.HiddenFor(item => item.Row_ID)
    <div class="form-group">
        <label for="AccountCreateTime" class="col-xs-2 control-label">开户时间</label>
        <div class="input-group date" id="doAccountCreateTime" data-date-format="YYYY-MM-DD">
            <input type="text" class="form-control" name="AccountCreateTime" id="AccountCreateTime" value="@Model.AccountCreateTime.ToString("yyyy-MM-dd")" />
            <span class="input-group-addon">
                <span class="glyphicon-calendar glyphicon"></span>
            </span>
        </div>
        <div class="form-group">
            <label for="BankName" class="col-xs-2 control-label">银行名称</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="BankName" name="BankName" value="@Model.BankName" />
            </div>
            <span class="help-block" id="h_BankName"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="ClientAcc" class="col-xs-2 control-label">客户账号</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="ClientAcc" name="ClientAcc" value="@Model.ClientAcc" />
            <span class="help-block" id="h_ClientAcc"></span>
        </div>
        <label for="EntryAmount" class="col-xs-2 control-label">金额</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="EntryAmount" name="EntryAmount" value="@Model.EntryAmount" />
            <span class="help-block" id="h_EntryAmount"></span>
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label for="ClientName" class="col-xs-2 control-label">客户名称</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="ClientName" name="ClientName" value="@Model.ClientName" />
            <span class="help-block" id="h_ClientName"></span>
        </div>
        <label for="VoucherNo" class="col-xs-2 control-label">凭证号</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="VoucherNo" name="VoucherNo" value="@Model.VoucherNo" />
            <span class="help-block" id="h_VoucherNo"></span>
        </div>
    </div>

    <div class="form-group" style="display: @(ViewBag.Section == "Deposit" ? "block" : "none" )">
        <label for="DepositClient" class="col-xs-2 control-label">存款人</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="DepositClient" name="DepositClient" value="@Model.DepositClient" />
            <span class="help-block" id="h_DepositClient"></span>
        </div>
        <label for="DepositTime" class="col-xs-2 control-label">存款时间</label>
        <div class="input-group date" id="doDepositTime" data-date-format="YYYY-MM-DD">
            <input type="text" class="form-control" name="DepositTime" id="DepositTime" value="@Model.DepositTime.ToString("yyyy-MM-dd")" />
            <span class="input-group-addon">
                <span class="glyphicon-calendar glyphicon"></span>
            </span>
        </div>
    </div>

    <div class="form-group" style="display: @(ViewBag.Section == "Withdraw" ? "block" : "none" )">
        <label for="WithdrawClient" class="col-xs-2 control-label">取款人</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="WithdrawClient" name="WithdrawClient" value="@Model.WithdrawClient" />
            <span class="help-block" id="h_WithdrawClient"></span>
        </div>
        <label for="WithdrawTime" class="col-xs-2 control-label">取款时间</label>
        <div class="input-group date" id="doWithdrawTime" data-date-format="YYYY-MM-DD">
            <input type="text" class="form-control" name="WithdrawTime" id="WithdrawTime" value="@Model.WithdrawTime.ToString("yyyy-MM-dd")" />
            <span class="input-group-addon">
                <span class="glyphicon-calendar glyphicon"></span>
            </span>
        </div>
    </div>

    <div class="form-group" style="display: @(ViewBag.Section == "Interest" ? "block" : "none" )">
        <label for="InterestClient" class="col-xs-2 control-label">存款人</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="InterestClient" name="InterestClient" value="@Model.InterestClient" />
            <span class="help-block" id="h_InterestClient"></span>
        </div>
        <label for="InterestTime" class="col-xs-2 control-label">利息结算时间</label>
        <div class="input-group date" id="doInterestTime" data-date-format="YYYY-MM-DD">
            <input type="text" class="form-control" name="InterestTime" id="InterestTime" value="@Model.InterestTime.ToString("yyyy-MM-dd")" />
            <span class="input-group-addon">
                <span class="glyphicon-calendar glyphicon"></span>
            </span>
        </div>
    </div>

    <div class="form-group" style="display: @(ViewBag.Section == "Interest" ? "block" : "none" )">
        <label for="InterestAmount" class="col-xs-2 control-label">利息金额</label>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="InterestAmount" name="InterestAmount" value="@Model.InterestAmount" />
            <span class="help-block" id="h_InterestAmount"></span>
        </div>
    </div>

    <p class="actionbar">
        <button type="button" class="btn btn-primary" data-act="save">保 存</button>
    </p>
</form>

<script type="text/javascript" src="@Url.Content("~/js/Settings/IndividualSaving.js")" ></script>
